/* Váriaveis com cores */
:root {
--var-background:#101010;
--var-background2:#000000;
--var-amarelo:#ffa304;
--var-green:#27ae61;
--var-blue:#17abe7;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
button:focus {
    outline:none;
}

li {
    margin:0;
    padding:0;
}
ul {
    margin:0;
    padding:0;
}

body {
    background-color:#101010;
    margin:0;
    padding:0;
}
/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:5px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:#000000;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius:25px;
}
input:focus {
    outline:none !important;
}


/* estilo do cabeçalho */
.head {
    height: 150px;
    background-color:#000000;
    padding-top:20px;
    box-sizing:border-box;
}

.logo {
    text-align:center;
    position:relative;
}
.logo::after {
    position:absolute;
    content:url(../svg/logo-decoration.svg);
    display:block;
    /* transform:translate(600px,-30px) */
    left:30px;
    right:0;
    top:30px;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 40px;
   
}
.menu ul {
    display:flex;
    flex-direction: row;

}
.menu li {
    gap:10px;
    padding:10px;
    list-style: none;
}

.menu li a{
    color:white;
    text-decoration: transparent;
    transition: all ease-in 400ms;
    font-family: 'Ubuntu', sans-serif;
}
.menu li a:hover {
    border-bottom: 2px solid #ffa304;
    transition: all ease-in 200ms;
}

.submenu {
    align-items: flex-end;
}

.submenu a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:white;
    padding: 10px;
}

.btn-assinar {
    background-color:#3636ee;
    padding:20px;
    border-radius: 5px;
    margin-right:40px;
}

.btn-assinar:hover {
    box-shadow: 0 0 8px #0000df;
}
.menu-target {
    background:none;
    border:none;
}
.menu-mobile {
	width:100%;
    margin-bottom:40px;
    display:none;
}
.menu-mobile img {
    width:38px;
    margin-left:30px;
    cursor:pointer;
}

.mobile-nav li {
	text-align:center;
}
.mobile-nav li:hover {
	background-color:#ffa304;
}
.mobile-nav li a {
	font-family:sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:white;
	display:block;
	padding:15px;
}
.submenu-mobile {
    display:inline-block;
    float:right;
	margin-right:20px;
    margin-top:15px;
}
.submenu-mobile a {
	text-decoration:none;
	color:rgb(255, 255, 255);
    font-family:sans-serif;
    margin-left:5px;
    margin-right:5px;
}
.submenu-mobile .btnn-assinar {
	background:#3636ee;
	padding:8px;
	display:inline-block;
	border-radius:5px;
}
/* sessão de apresentação */
@keyframes blur {
    0% {
        color:rgb(49, 49, 49);
    }
    100% {
        color:white;
    }
}

.apresentacao {
    display:flex;
    flex-direction: row;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-top:40px;
    height: 400px;
}
.apresentacao-img {
    margin-left:40px;
    margin-left:30px;
    margin-right:30px;
}
.apresentacao-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation-delay: 1.2s;
}

.apresentacao-text {
    max-width: 700px;
    margin-left:20px;
    margin-right:20px;
}
.apresentacao-text p {
    animation-name: blur;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    font-family: 'Open Sans', sans-serif;
}
.apresentacao h1 {
    text-align: center;
    z-index:300;
    font-size:32px;
    font-family: 'Ubuntu', sans-serif;
}
.hide {
    display:none;
}
.musicSchool {
    color:#ffa304;
}

/* seção de intruments interaćão */
.instruments {
    display:flex;
    justify-content: center;
    margin-top:100px;
    position:relative;
    cursor: pointer;
}
.instruments::after {
    content:'';
    background: url(../svg/linhaestilo.svg)no-repeat;
    height:3px;
    width:600px;
    position:absolute;
    top:25px;
    transform: translateX(0px);
    z-index:-10;
}

.instruments-item1::after {
    content:url(../svg/saxofone-amarelo.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
    margin-left:30px;
    margin-right:30px;

}
.instruments-item1Novo::after {
    content:url(../svg/saxofone-amarelo2.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;

}
.instruments-item2::after {
    content:url(../svg/electric-guitar-amarelo.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
    margin-left:30px;
    margin-right:30px;
}

.instruments-item2Novo::after {
    content:url(../svg/electric-guitar-branco.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;

}

.instruments-item3::after {
    content:url(../svg/piano-amarelo.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
    margin-left:30px;
    margin-right:30px;
}
.instruments-item3Novo::after {
    content:url(../svg/piano-branco.svg);
    display:block;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
}

.instruments-item4::after {
    content:url(../svg/flute-amarelo.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
    margin-left:30px;
    margin-right:30px;
}
.instruments-item4Novo::after {
    content:url(../svg/flute-branco.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
}
.instruments-item5::after {
    content:url(../svg/drums-amarelo.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
    margin-left:30px;
    margin-right:30px;
}
.instruments-item5Novo::after {
    content:url(../svg/drums-branco.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
}
.instruments-item6::after {
    content:url(../svg/guitar-amarelo.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;
    margin-left:30px;
    margin-right:30px;
}
.instruments-item6Novo::after {
    content:url(../svg/guitar-branco.svg);
    display:block;
    padding:5px;
    border:2px solid #ffa304;
    border-radius: 10px;
    background-color: black;

}


/* video relacionado aos cursos + desc */
.instrument-active {
    color:white;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    margin-top:60px;
    letter-spacing: 5px;
    font-size:24px;
}
.line {
    margin-bottom:30px;
    display:flex;
    justify-content: center;
    margin-top:-10px;
}
.line::after {
    content:'';
    width:50px;
    height:2px;
    background:#ffffff;
    display:block;
}
iframe {
    width:80%;
    height: 500px;
    border:none;
    margin-left:80px;
    margin-bottom:100px;
}
.video-instrument {
    display:grid;
    color:#ffffffc2;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 2fr;
}

.desc-video-play ul li {
    margin:20px 0;
    padding:0;
    font-size:18px;
    list-style:none;
    font-family:'Open Sans', sans-serif;
}
.desc-video-play img {
    width: 64px;
    margin:40px;
}
.desc-video-play ul li::before {
    display:inline-block;
    content:'\2714';
    margin-right:5px;
}
.desc-video-play p {
    color:white;
    font-size:20px;
    font-family:'Open Sans', sans-serif;

}
.btn-aulas {
    background-color:#3636ee;
    padding:5px;
    color:white;
    display:block;
    width:200px;
    height:30px;
    line-height: 30px;
    border-radius: 10px;
    text-decoration:none;
    text-align:center;
    font-size:18px;
    font-family: sans-serif;
    transition:background-color ease-out .3s;
}
.btn-aulas:hover {
    background:#5252fa;
}

/* card serviço */

.card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:400px;
}
.card-container a {
    text-decoration:none;
    color:black;
}
.card {
    background-color:#3636ee;
    width:740px;
    height: 300px;
    border-radius:5px 5px 25px 25px;
    text-align: center;
    display:grid;
    grid-template-areas: "a a a a a a"
                         "b b c c c c"
                         "d d d d d d";
    box-shadow: 0 0 5px 3px #000000;
}

.grid1 {
    grid-area: a;
    display:block;
}
.grid2 {
    grid-area: b;

}
.grid3 {
    grid-area: c;
    justify-self: self-start;

}
.grid4 {
    grid-area:d;
}

.card p {
    font-family:'Open Sans', sans-serif;
    font-size:16px;
    color:#ffffff;
    margin-left:30px;
}
.card span {
    color:white;
    font-family:'Open Sans', sans-serif;
    font-size:28px;
}
.card .s-moeda {
    text-transform: uppercase;
    font-size:28px;
}
.card .s-preco {
    font-size:80px;
}
.card .plano {
    font-size:25px;
}
.btn-as-card {
    background-color:#ffffffa6;
    color:#000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    width:150px;
    height:50px;
    border:none;
    padding:5px;
    border-radius:5px;
    text-align: center;
    transition: all ease-out .4s;
    margin-top:0;
    cursor:pointer;
}
.btn-as-card:hover {
    background-color: #ffffff;
    color:black;
}

.card object {
    width:120px;
    height: 120px;
}


/* Beneficios */


.servicos {
    height:500px;
    background-color:#00000067;
    text-align:center;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    box-sizing: border-box;
    border-bottom:1px solid white;
    z-index: 10;
}
.servicos object {
    width:100px;
    height: 100px;
}
.servicos img {
    width:100px;
    height:100px;
}
.servicos h2 {
    font-size:48px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.servicos-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.servicos-container h3 {
    z-index:10;
    font-size:32px;
    font-family: 'Ubuntu', sans-serif;
}
.servicos-container p {
    text-align:justify;
    max-width:500px;
    font-family: 'Open Sans', sans-serif;
}
.bnf1, .bnf2, .bnf3 {
    padding:10px;
    transition:all ease-in 300ms;
    background:#000000;
    margin-left: 10px;
    margin-right: 10px;
}

.bnf1:hover, .bnf2:hover, .bnf3:hover {
    background-color:#000000;
    border-bottom: 3px solid #3636ee;
    transition:all ease-in 300ms;
}

/* rodapé do site */

.footer {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}
.footer .nav-footer a {
    color:#ffffff;
    text-decoration: none;
}
.footer .nav-footer a:hover {
    text-decoration: underline;
    text-decoration-color: #ffa304;
}
.footer .nav-footer li {
    list-style:none;
    margin-top:20px;
    margin-left:40px;
}
.footer .nav-footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
}
.footer .redes-sociais {
    display:flex;
    align-items: center;
    margin-right: 40px;
}

.footer .redes-sociais img{
    display:inline-block;
    width: 50px;
    margin-left:10px;
    margin-right:10px;
}

@media screen and (max-width:530px) {
    .flex-menu {
        display:none;
    }
    .menu-mobile {
        display:block;
    }
    .mobile-nav {
        display:none;
    }
    .head {
        height: auto;
        background-color:#000000;
        padding-top:20px;
        box-sizing:border-box;
        border-bottom:1px solid #222222;
    }
    .logo {
        text-align:center;
        position:relative;
        margin-bottom:50px;
    }
    .apresentacao {
        display:block;
        height:530px;
    }
    .apresentacao-img {
        margin-left:0px;
        text-align:center;
    }
    .apresentacao-img img {
        height: 80%;
        width: 80%;
    }
    .apresentacao h1 {
        text-align: center;
        font-size:20px;
    }

    /* media queries instrumentos */

    .instruments {
        justify-content:flex-start;
        margin-top:60px;
        flex-wrap:wrap;
    }
    .instruments::after {
        width:100%;
    }
    .instruments::before {
        content:'';
        background: url(../svg/linhaestilo.svg)no-repeat;
        height:3px;
        width:100%;
        position:absolute;
        top:105px;
        transform: translateX(0px);
        z-index:-10;
    }
    
    .instruments-item1::after {
        margin-left:50px;
    }
    .instruments-item1Novo::after {
                    margin-left:50px;
    }
    .instruments-item2::after {
        margin-left:40px;
    }
    .instruments-item2Novo::after {
        margin-left:40px;
    
    }
    
    .instruments-item3::after {
      margin-left:40px;
      margin-right:40px;
    }
    .instruments-item3Novo::after {
        margin-left:40px;
        margin-right:40px;
    }
    
    .instruments-item4::after {
        margin-top:20px;
        margin-left:50px;
    }
    .instruments-item4Novo::after {
        margin-top:20px;
        margin-left:50px;
    }
    .instruments-item5::after {
        margin-top:20px;
        margin-left:40px;
    
    }
    .instruments-item5Novo::after {
        margin-top:20px;
        margin-left:40px;
    
    }
    .instruments-item6::after {
        margin-top:20px;
        margin-left:40px;
    
    }
    .instruments-item6Novo::after {
        margin-top:20px;
        margin-left:40px;
    
    }
    /* video relacionado aos cursos + desc */

.instrument-active {
    font-size:20px;
}
.line::after {
    width:20px;
}
.video-instrument {
    display:block;
    text-align:center;
    height:880px;
    overflow:hidden;
}
iframe {
    width:90%;
    height: 400px;
    border:none;
    margin-left:10px;
    margin-bottom:30px
}
.desc-video-play ul li {
    margin:20px 0;
    margin-left:40px;
    font-size:12px;
    text-align:left;
}
.desc-video-play object {
    width: 50px;
    margin:40px;
}
.desc-video-play p {
    font-size:18px;
}
.btn-aulas {
    width:100px;
    margin:0 auto;
}
/* card serviço */

.card-container {
    display:none;
  }
  /* Beneficios */


.servicos {
    height:auto;
}
.bnf1,.bnf2,.bnf3 {
	margin-top:5px;
}
.servicos object {
    width:50px;
    height: 50px;
}
.servicos img {
    width:50px;
    height:50px;
}
.servicos h2 {
    font-size:28px;
}

.servicos-container {
    display:block;
}
.servicos-container h3 {
    font-size:22px;
}
.servicos-container p {
    text-align:left;
    max-width:400px;
}
/* rodapé do site */

.footer {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    height: auto;
}
.footer .nav-footer li {
    list-style:none;
    margin-top:20px;
    margin-left:40px;
    
}
.footer .nav-footer li:after {
	content:'';
	display:block;
	width:20px;
	height:2px;
	background:gray;
	margin-top:5px;
}
.footer .nav-footer {
    display:block;
    width:160px;
    margin:0 auto;
    text-align:left;
}
.footer .redes-sociais {
			 margin-top:40px;
    display:flex;
    justify-content: space-evenly;
    margin-right: 0px;
    margin-bottom:15px;
}

.footer .redes-sociais img{
    display:inline-block;
    width: 40px;
    
}

}
@media screen and (max-width:392px) {
    .instruments {
        display:flex;
        justify-content: center;
        margin-top:100px;
        position:relative;
    
    }
    .instruments::after {
        content:'';
        background: url(../svg/linhaestilo.svg)no-repeat;
        height:3px;
        width:100%;
        position:absolute;
        top:25px;
        transform: translateX(0px);
        z-index:-10;
    }
    
    .instruments-item1::after {
        content:url(../svg/saxofone-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    
    }
    .instruments-item1Novo::after {
        content:url(../svg/saxofone-amarelo2.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    
    }
    .instruments-item2::after {
        content:url(../svg/electric-guitar-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item2Novo::after {
        content:url(../svg/electric-guitar-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    
    }
    
    .instruments-item3::after {
        content:url(../svg/piano-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item3Novo::after {
        content:url(../svg/piano-branco.svg);
        display:block;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    }
    
    .instruments-item4::after {
        content:url(../svg/flute-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item4Novo::after {
        content:url(../svg/flute-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    }
    .instruments-item5::after {
        content:url(../svg/drums-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item5Novo::after {
        content:url(../svg/drums-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    }
    .instruments-item6::after {
        content:url(../svg/guitar-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item6Novo::after {
        content:url(../svg/guitar-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    
    }
}

/* ======================SCREEN TABLET==================== */
@media screen and (min-width:531px) and (max-width:960px){
    .flex-menu {
        display:none;
    }
    .menu-mobile {
        display:block;
    }
    .mobile-nav {
        display:none;
    }
    .head {
        height: auto;
        background-color:#000000;
        padding-top:20px;
        box-sizing:border-box;
        border-bottom:1px solid #222222;
    }
    .logo {
        text-align:center;
        position:relative;
        margin-bottom:50px;
    }
    .apresentacao {
        display:block;
        height:auto;
    }
    .apresentacao-img {
        margin-left:0px;
        text-align:center;
    }
    .apresentacao-img img {
        height: 80%;
        width: 80%;
    }
    .apresentacao h1 {
        text-align: center;
        font-size:25px;
        margin-left:20%;
    }
    .apresentacao p {
        margin-left:20%;
    }

    /* media queries instrumentos */

    .instruments {
        display:flex;
        justify-content: center;
        margin-top:100px;
        position:relative;
    
    }
    .instruments::after {
        content:'';
        background: url(../svg/linhaestilo.svg)no-repeat;
        height:3px;
        width:600px;
        position:absolute;
        top:25px;
        transform: translateX(0px);
        z-index:-10;
    }
    
    .instruments-item1::after {
        content:url(../svg/saxofone-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    
    }
    .instruments-item1Novo::after {
        content:url(../svg/saxofone-amarelo2.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    
    }
    .instruments-item2::after {
        content:url(../svg/electric-guitar-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item2Novo::after {
        content:url(../svg/electric-guitar-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    
    }
    
    .instruments-item3::after {
        content:url(../svg/piano-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item3Novo::after {
        content:url(../svg/piano-branco.svg);
        display:block;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    }
    
    .instruments-item4::after {
        content:url(../svg/flute-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item4Novo::after {
        content:url(../svg/flute-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    }
    .instruments-item5::after {
        content:url(../svg/drums-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item5Novo::after {
        content:url(../svg/drums-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    }
    .instruments-item6::after {
        content:url(../svg/guitar-amarelo.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
        margin-left:30px;
        margin-right:30px;
    }
    .instruments-item6Novo::after {
        content:url(../svg/guitar-branco.svg);
        display:block;
        padding:5px;
        border:2px solid #ffa304;
        border-radius: 10px;
        background-color: black;
    
    }
    /* video relacionado aos cursos + desc */

.instrument-active {
    font-size:20px;
}
.line::after {
    width:20px;
}
.video-instrument {
    display:block;
    text-align:center;
    height:880px;
    overflow:hidden;
}
iframe {
    width:90%;
    height: 400px;
    border:none;
    margin-left:10px;
    margin-bottom:30px
}
.desc-video-play ul li {
    margin:20px 0;
    margin-left:40px;
    font-size:12px;
    text-align:left;
}
.desc-video-play object {
    width: 50px;
    margin:40px;
}
.desc-video-play p {
    font-size:18px;
}
.btn-aulas {
    width:100px;
    margin:0 auto;
}
/* card serviço */

.card-container {
    display:none;
  }
  /* Beneficios */


  .servicos {
    height:auto;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    box-sizing: border-box;
    border-bottom:1px solid white;
    z-index: 10;
}
.servicos img {
    width:100px;
    height: 100px;
}
.servicos img {
    width:100px;
    height:100px;
}
.servicos h2 {
    font-size:48px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.servicos-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.servicos-container h3 {
    z-index:10;
    font-size:32px;
    font-family: 'Ubuntu', sans-serif;
}
.servicos-container p {
    text-align:justify;
    max-width:500px;
    font-family: 'Open Sans', sans-serif;
}
.bnf1, .bnf2, .bnf3 {
    padding:10px;
    transition:background ease-out .2s;
    margin-left: 10px;
    margin-right: 10px;
}
/* rodapé do site */

.footer {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}
.footer .nav-footer a {
    color:#ffffff;
    text-decoration: none;
}
.footer .nav-footer a:hover {
    text-decoration: underline;
    text-decoration-color: #ff0404;
}
.footer .nav-footer li {
    list-style:none;
    margin-top:20px;
    margin-left:40px;
}
.footer .nav-footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
}
.footer .redes-sociais {
    display:flex;
    align-items: center;
    margin-right: 40px;
}

.footer .redes-sociais img{
    display:inline-block;
    width: 50px;
    margin-left:10px;
    margin-right:10px;
}


}

.dados {
    margin-bottom:80px;
}
.dados form input,select {
    margin-bottom:5px;
    color:white !important;
    padding: 5px !important;
}
#estado {
    width:30%;
}
.tabela {
    background-color:#0e0e0e;
}

.title-h4 {
    font-size:18px;
    font-family: 'Open Sans' !important;
}
.subtitle__h4 {
    font-family: 'Lato';
    margin-top:25px;
    margin-left:15px;
}
.termos__text {
    font-size:14px;
}

label {
    font-family:'Lato';
}
.extra__info {
    font-family: 'Lato';
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #ffa304;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}