:focus {
	outline:none;
}
.banner img {
    width:100%;
}

.container-planos {
    margin-top:80px;
    display:flex;
    justify-content: center;
    height:700px;
    margin-bottom:40px;
}
.container-planos .card {
    display:flex;
    flex-direction: column;
    width:350px;
    height: 600px;
    border-radius:10px 10px 5px 5px;
    font-family: 'Open Sans','sans-serif';
    box-shadow:2px 2px 5px rgb(0, 0, 0);
    transition:all ease-in-out .2s;
    margin-left:10px;
    margin-right:10px;
}
.container-planos .card:hover {
    transform:translateY(-20px)
}
.card__1, .card__2, .card__3 {
    background-color:#0e0eb4;
    border-radius:10px 10px 0 0;
}
.card-title{
    background-color:#000000;
    border-radius:10px 10px 0 0;
    padding:10px;
}
.card-title .plano {
    color:#ffffff;
}

.card-preco .preco {
    font-size:6rem;
    font-family: 'Ubuntu','sans-serif';
    color:#ffffff;
}
.card-preco p {
    margin-top:-5px;
    color:#a5a5a5;
}
.card-conteudo {
    text-align: left;
}
.card-conteudo p:before {
    content:'-';
    color:rgb(255, 255, 255);
    margin-right: 5px;
}
.card-conteudo p {
    font-size:1.1rem;
    color:#ffffff;
    font-weight: bold;
}
.card button {
    border:none;
    background-color:#f0f0f0;
    color:#000000;
    width:40%;
    height:40px;
    align-self: center;
    margin-top:80px;
    border-radius:5px;
    cursor:pointer;
    border-bottom: 2px solid #000000;
    transition: background 200ms ease-in;
}
.card button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background 400ms ease-in;
}
@media screen and (max-width:880px) {
	.banner img {
    width:100%;
}

.container-planos {
    margin-top:80px;
    display:block;
    height:auto;
    margin-bottom:40px;
    text-align:center;
}
.container-planos .card {
    display:inline-block;
    flex-direction: column;
    width:290px;
    height: auto;
    border-radius:10px 10px 5px 5px;
    font-family: 'Open Sans','sans-serif';
    transition:all ease-in-out .2s;
    margin-top:40px;
    margin-bottom:40px;
    padding-bottom:20px;
}
.container-planos .card:hover {
    transform:translateY(-10px)
}


}

